#keil
*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
 
**/Objects/
**/Listings/

!*.uvprojx
!*.h
!*.c
!*.ioc
!*.axf
!*.bin
!*.hex
!*.sct